{registration, [
                {service, null},
                {token, <<"null-token">>},
                {device_id, <<"null-device-id">>},
                {tag, <<"sc_push_SUITE test">>},
                {app_id, <<"com.silentcircle.SCPushSUITETest">>},
                {dist, <<"dev">>}
               ]
}.

{databases,
 #{internal_db => #{db  => mnesia,
                    mod => sc_push_reg_db_mnesia},
   external_db => #{db  => postgres,
                    mod => sc_push_reg_db_postgres}
  }
}.

{connect_info,
 #{postgres => #{connection => [
                                {hostname, "localhost"},
                                {database, "sc_push_lib_test"},
                                {username, "sc_push_lib_test"},
                                {password, "test"}
                               ],
                 table_config => [
                                  {table_schema, "scpf"},
                                  {table_name, "push_tokens"}
                                 ]
                }
  }
}.

%% The test cases need to read this and replace
%% the mustache-style entries, e.g. "{{ error_log }}" before
%% setting lager's app environment. This is intended to support
%% using CommonTest's priv_dir().
{lager,
 [
  %% What handlers to install with what arguments
  {handlers, [
              {lager_console_backend, warning},
              {lager_file_backend, [
                                    {file, "{{ error_log_file }}"},
                                    {level, error},
                                    {size, 10485760},
                                    {date, "$D0"},
                                    {count, 5}
                                   ]
              },
              {lager_file_backend, [
                                    {file, "{{ console_log_file }}"},
                                    {level, info},
                                    {size, 10485760},
                                    {date, "$D0"},
                                    {count, 5}
                                   ]
              }
             ]
  },
  %% Whether to write a crash log, and where. Undefined means no crash logger.
  {crash_log, "{{ crash_log_file }}" }
 ]}.

{sasl, [
        {sasl_error_logger, false}
       ]}.
