{registration, [
                {service, null},
                {token, <<"null-token">>},
                {device_id, <<"null-device-id">>},
                {tag, <<"sc_push_SUITE test">>},
                {app_id, <<"com.silentcircle.SCPushSUITETest">>},
                {dist, <<"dev">>}
               ]
}.

{databases,
 #{internal_db => #{db  => mnesia,
                    mod => sc_push_reg_db_mnesia},
   external_db => #{db  => postgres,
                    mod => sc_push_reg_db_postgres}
  }
}.

{connect_info,
 #{postgres => [
                {hostname, "localhost"},
                {database, "sc_push_lib_test"},
                {username, "sc_push_lib_test"},
                {password, "test"}
               ]
  }
}.

