%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{erl_opts, [
            debug_info,
            %% Erlang releases after 17 don't put R in front of their name, and
            %% also require dict() to be written like dict:dict()
            {platform_define, "^[0-9]+", namespaced_dicts},
            {src_dirs, ["src"]},
            {parse_transform, lager_transform}
           ]}.

{erl_first_files, ["src/sc_push_reg_db.erl"]}.

{eunit_opts, [verbose,
   {report, {eunit_surefire, [{dir, "."}]}}]}.

{edoc_opts, [{doclet, edown_doclet},
             {source_path, ["src"]},
             {stylesheet, ""},
             {image, ""},
             {app_default, "http://www.erlang.org/doc/man"},
             {edown_target, github},
             {top_level_readme,
              {"./README.md", "http://github.com/SilentCircle/sc_push_lib"}}
            ]}.

{dialyzer, [{warnings, [unknown]}]}.

{clean_files, ["test/*.beam"]}.

{ct_opts, [{spec, "sc_push_lib.test.spec"}]}.

{cover_enabled, true}.
{cover_print_enabled, true}.

{deps, [
        {sc_util, ".*",
         {git, "git@github.com:SilentCircle/sc_util.git", {branch, "master"}}},
        {lager, ".*",
         {git, "https://github.com/basho/lager.git", {branch, "master"}}},
        {epgsql, ".*",
         {git, "https://github.com/epgsql/epgsql.git", {branch, "master"}}}
       ]
}.

{profiles,
 [
  {test, [
          {deps,[
                 {edown, ".*",
                  {git, "https://github.com/uwiger/edown.git", {branch, "master"}}},
                 {meck, ".*",
                  {git, "https://github.com/eproxus/meck.git", {branch, "master"}}},
                 {jsx,".*",
                  {git, "git@github.com:talentdeficit/jsx.git", {branch, "master"}}}
                ]
          },
          {erl_opts, [
                      debug_info,
                      export_all,
                      {i, ["include"]},
                      {parse_transform, lager_transform}
                     ]}
         ]
  }]
}.

%% == xref ==

{xref_warnings, false}.

%% xref checks to run
{xref_checks, [undefined_function_calls]}.

