%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{sub_dirs, ["src"]}.

{erl_opts, [
        debug_info,
        export_all,
        {src_dirs, ["src"]},
        {parse_transform, lager_transform}
    ]}.

{eunit_opts, [verbose,
   {report, {eunit_surefire, [{dir, "."}]}}]}.

{edoc_opts, [
        {source_path, ["src"]},
        {stylesheet, "sc-erlang.css"},
        {dummy, undefined}
    ]
}.

{clean_files, ["test/*.beam"]}.

{ct_dir, "test"}.
{ct_extra_params, ""}.
{ct_use_short_names, true}.

{cover_enabled, true}.
{cover_print_enabled, true}.

{deps, [
        {sc_util, ".*",
            {git, "ssh://git@code-ssh.silentcircle.org:7999/SCPS/sc_util.git", {branch, "master"}}},
        {lager, ".*",
            {git, "https://github.com/basho/lager.git", {branch, "master"}}}
    ]
}.

%% == xref ==

{xref_warnings, false}.

%% xref checks to run
{xref_checks, [undefined_function_calls]}.

