[
 {sc_push_lib,
  [
   {db_mod, sc_push_reg_db_postgres},
   {database, "silentcircle"},
   {pools,
    [
     {pool1, [
              {size, 10},
              {max_overflow, 20}
             ], [
                 {hostname, "127.0.0.1"},
                 {database, "scpf"},
                 {username, "scpf"},
                 {password, "scpf"}
                ]}
    ]}
  ]}
].

